*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}
header{
    background-color: #181A31;
    width: 100%;
    height: 40px;
}
.select-box {
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #60666d;
  }
.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 5px;
    transition: 0.2s ease;
}
.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: transparent;
}
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
 }
.select-box__option:hover, .select-box__option:focus {
    color: #0081E1;
    background-color: #F7F9FE;
}
.select-box__option.first{
    border-radius: 5px 5px 0 0;
}
.select-box__option.second{
    border-radius: 0 0 5px 5px;
}
.top-nav-links ul, .second-nav ul, .cart-wrap, .cart{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-nav{
    display: grid;
    grid-template-columns: minmax(auto, 410px) minmax(auto, 560px) minmax(auto, 580px);
    align-items: center;
    justify-items: end;
}
.top-nav a{
    color: #fff;
}
.top-nav-links ul{
    color: #fff;
}
.top-nav-links ul li{
    padding:0 10px 0;
}
.top-nav-links li:nth-child(odd){
    font-weight: 400;
    font-size: 12px;
    opacity: 0.8;
}
.top-nav-links li:nth-child(even){
    opacity: 0.1;
    font-size: 18px;
}
.top-nav .input-wrap{
    position: relative;
    border-radius: 5px;
    padding: 3px;
    width: 273px;
    background-color:rgb(255, 255, 255,0.1);
}
.top-nav .input-wrap input{
    background-color: transparent;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    border: 0;
    padding: 5px 5px;
}
.top-nav .input-wrap svg{  
    position: absolute;
    right: 11px;
    top: 9px;
}
.second-nav{
    display: grid;
    grid-template-columns: minmax(auto,550px) minmax(auto,560px) minmax(auto,440px);
    align-items: center;
    justify-items: end;
    height: 60px;
    background-color: #fff;
}
.second-nav-links a{
    color: #181A31;
    font-weight: 600;
    font-size: 14px;
}
.second-nav-links ul svg{
    transition: 0.3s ease-in-out;
}
.dropdown{
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown:hover a{
    color: #0081E1;
}
.dropdown:hover svg{
    -webkit-transform: rotate(180deg);
}
.second-nav-links ul li{
    padding: 0 20px;
}
.second-nav-links ul li > ul li{
    background-color: #fff;
}
.second-nav-links ul li > ul li:hover{
    color: #0081E1;
}
.second-nav-links ul li > ul{
    display: none;
    top: 62px;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
}
.cart-wrap .stick{
    width: 1px;
    height: 36px;
    color: #181A31;
    border-left: 1px solid #181A31;
    opacity: 0.1;
    margin-right: 22px;
}
.callback-wrap{
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
}
.svg-wrap{
    height: 24px;
    margin-right: 9px;
}
.callback-wrap .send-call{
    float: right;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.5;
}
.callback h4{
    padding-bottom: 1px;
}
.cart p {
    color: #0081E1;
    margin-left: 10px;
}
.tablet{
    display: none;
}
@media screen and (max-width:768px) {
    header.desktop{
        display: none;
    }
    .tablet{
        position: relative;
        display: grid;
        grid-template-columns: minmax(auto,225px) minmax(auto,1fr) minmax(auto,70px);
        align-items: center;
        justify-items: end;
        height: 50px;
        background-color: #fff;
    }
    .tablet .svg-wrap{
        display: flex;
        align-items: center;
        height: 50px;
    }
    .tablet .svg-wrap svg{
        margin: 0 20px 0 0;
    }
    .tablet .callback-wrap{
        align-items: center;
    }
    .btn2 {
        position:relative;
        width: 50px;
        background-color: #008EF8;
        height: 50px;
        transition-duration: 0.5s;
      }
      .btn2 .icon {
        position: absolute;
        transition-duration: 0.5s;
        height: 1.5px;
        width: 18px;
        top: 25px;
        left: 15px;
        background-color: #fff;
      }
      .btn2 .icon:before {
        transition-duration: 0.5s;
        position: absolute;
        width: 18px;
        height: 1.5px;
        background-color: #fff;
        content: "";
        top: -6px;
      }
      .btn2 .icon:after {
        transition-duration: 0.5s;
        position: absolute;
        width: 18px;
        height: 1.5px;
        background-color: #fff;
        content: "";
        top: 6px;
      }
      .btn2.open .icon {
        transition-duration: 0.5s;
        background: transparent;
      }
      .btn2.open .icon:before {
        transform: rotateZ(45deg) scaleX(1) translate(4px, 4px);
      }
      .btn2.open .icon:after {
        transform: rotateZ(-45deg) scaleX(1) translate(4.5px, -4.5px);
      }
      .btn2:hover {
        cursor: pointer;
      }
      
}